/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




* {
  box-sizing:border-box;
  cursor: url(Assets/off_Cursor.png),auto;
  font-family:'VT323', monospace !important;
}
p,h1,h2{
  color:white;
  text-align:center;
  cursor: url(Assets/off_Cursor_Text.png),text;
  display:inline-block;
}
h1{
  font-size:6rem;  
}
h2{
  margin-bottom:1%;
}
body{
  background:black;
}

nav li{
  line-height: 3rem;
  height: 3rem;
  display: inline-block;
  background-color:black;
  width: 7.5rem;
  font-size:1.5rem;
  margin: 0 1rem 0 1rem;
}
#Comics{
  width:13rem;
}
#ContactMe{
  width:9rem;
}
nav ul{
  text-align: center;
  padding-bottom:1rem;
}
a
{
 cursor: url(Assets/off_Cursor_pointer.png),pointer; 
}

nav a {
  text-decoration: none;
  color:white;
  display: block;
  box-shadow: inset 0 0 0 1px #000, inset 0 0 0 3px white;
  cursor: url(Assets/off_Cursor_pointer.png),pointer;
  border-radius:7px; 
}
div{
  text-align:center;
}
.InTheMiddle{
  word-break: keep-all;
  text-align:left;
  width:550px;
  font-size:1.2rem;
}
#ItsaSecret!{
  text-decoration:underline;
}

.little_space{
  margin-bottom:4rem; 
}

.bigger_font{
  font-size:1.3rem;
}

.page_selector{
  display: inline;
  margin-right: -4.3px;
}

.page_padding{
  padding-bottom:1rem;
}

.ComicPadding1{
  margin-top:50rem;
}
.ComicPadding2{
  margin-top:50rem;
  opacity:0;
}


.Page1{
  width:40rem;
  margin-top:5rem;
  padding-bottom:10rem; 
}

.Page2{
  width:50rem;
  margin-top:5rem;
  padding-bottom:10rem; 
}

.Page3{
  width:60rem;
  margin-top:5rem;
  padding-bottom:10rem; 
}

.BOO{
  width:65rem;
  padding-bottom:5rem; 
}


.go_forward{
float: right;
}
.go_back{
float: left;
}

.column {
  float: left;

}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}



/*
image zoom
*/
.click-zoom input[type=checkbox] {
  display: none
}
@media screen and (min-width: 1380px) {
.click-zoom img {
  transition: transform 0.25s ease;
  cursor: zoom-in;
  
}

.click-zoom input[type=checkbox]:checked~img {
  transform: scale(2);
  cursor: zoom-out;
  padding-top:30rem;
  background-color: black;
  max-width:50%;
}
}





#BottomGhost{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top:25rem;
  image-rendering: pixelated;
}
.You_are_here{
  background-color:white;
  box-shadow: inset 0 0 0 1px #000, inset 0 0 0 3px black;
  color:black;
}
button{
  text-align:justify;
  display:inline-block;
}
#email{
 font-size:1rem;
 padding-bottom:0.3rem;
 width:11rem;
}

/* loader */
.bar-space{
  margin-top:2.2rem;
  z-index: 1;
  background:#D1D1D1;
  position:absolute;
  width:37.8%;
  height:28.5px;
  border-radius: 50px;
}
.progress-bar {
  z-index: 2;
  height: 25px;
  background: black;
  border-radius: 50px;
  transition: all 0.5s;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.container h2{
  margin-bottom: 20px;
}
.container .progress {
  width: 40%;
  height: 5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  padding: 20px;
  background: #e6e9ff;
}
/* fade in */
.fade-in-text {
  animation: fadeIn linear 5.5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* fade out */
.fade-out-text {
  animation: fadeout linear 6s;
  animation-fill-mode: forwards;
  animation-delay:5s;
}

@keyframes fadeout {
  100% {opacity:0;}
  0% {opacity:1;}
}

@media(max-width:992px){
  .InTheMiddle {
  width:300px;
  }
  h1{
    text-align:center;
  }
  #description{
    width:20rem;
  }
  button{
    padding:1rem;
    font-size:2rem;
  }
  nav li{
    margin-bottom:1rem;
  }
.bar-space{
  width:81%;
  }
.container .progress{
  width: 90%;
}
 .page{
    width:100%;
    height:100%; 
   margin:1rem
  }
}


/*Loader system*/
#clock{
  right:0;
  bottom:0;
  position:fixed;
  width:10rem;
  border-radius:100% 
}
@media(min-width:992px){
.writing{
  position:fixed;
  bottom:0;
  text-align:center;
  font-size:20px;
  transform: translate(-50%, -50%);
}
}
.writing{
  position:fixed;
  bottom:0;
  font-size:20px;
}
@media(max-width:992px){
.div_shut_the_fuck_up2{
  text-align: justify;
}
}
/* Map */ 

.div_shut_the_fuck_up{
  text-align: justify;
}

#target-box{
  background-color: aqua;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#target{
  background-color: #f30f4f;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2%;
  left: 2%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transform-origin: 25px 25px; 
  pointer-events: none;
  z-index: 1;
}

.barrier{
  background-color: black;
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1;
  
}

#target-box2{
  background-color: #999;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 25rem;
  z-index: 1;
}












