/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
  box-sizing:border-box;
  align-items: center;
  cursor: url(Assets/off_Cursor.png),auto;
  font-family: '7:12 serif','VT323', monospace !important;
}
p,h1,h2{
  font-family: "7:12 serif", "VT323" , monospace;
  color:white;
  text-align:justify;
  cursor: url(Assets/off_Cursor_Text.png),text;
  display:inline-block;
}
h1{
  font-size:6rem;  
}
h2{
  margin-bottom:1%;
}
body{
  background:black;
}

nav li{
  line-height: 3rem;
  height: 3rem;
  font-family: "7:12 serif", "VT323" ,monospace;
  display: inline-block;
  background-color:black;
  width: 7.5rem;
  font-size:1.5rem;
  margin: 0 1rem 0 1rem;
}
#Comics{
  width:13rem;
}
#ContactMe{
  width:9rem;
}
nav ul{
  text-align: center;
  padding-bottom:1rem;
}
nav a {
  text-decoration: none;
  color:white;
  display: block;
  box-shadow: inset 0 0 0 1px #000, inset 0 0 0 3px white;
  cursor: url(Assets/off_Cursor_pointer.png),pointer;
  border-radius:7px; 
}
div{
  text-align:center;
}
.InTheMiddle{
  word-break: keep-all;
  width:550px;
}
#BottomGhost{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top:25rem;
  image-rendering: pixelated;
}

button{
  text-align:justify;
  display:inline-block;
}
#Email{
 font-size:1rem;
 padding-bottom:0.3rem;
 width:11rem;
}
/*
.GalleryUl{
  display: flex;
  flex-wrap: wrap;
  background:yellow;
  height: 700vh;
  width:100%;
  flex-flow: column;
  justify-content: center;
  position: absolute;
}
.GalleryIl{
  padding-left:2rem;
  padding-top:2rem;
  height:100%;
  flex-grow:1;
  background:green;
  width:50%;
}
.GalleryImg{
  margin-right:2rem;
  max-height: 25vh;
  max-width:22vw;
  background:white;
}
*/










@media(max-width:1025px){
  .InTheMiddle {
  width:400px;
  }
  h1{
    text-align:center;
  }
  #description{
    width:20rem;
  }
  button{
    padding:1rem;
    font-size:2rem;
  }
  nav li{
    margin-bottom:1rem;
  }
  .GalleryUl{
  margin-left:0;
  min-width:100%
  }
  .GalleryIl{
  height:100%;
  width:100%;
  padding:0;
  }
  .GalleryImg{
  max-height: 100%;
  max-width: 100%;
  background:white;
 }
}



/* loader */
.bar-space{
  margin-top:2.2rem;
  z-index: 1;
  background:#D1D1D1;
  position:absolute;
  width:37.8%;
  height:28.5px;
  border-radius: 50px;
}
.progress-bar {
  z-index: 2;
  height: 25px;
  background: black;
  border-radius: 50px;
  transition: all 0.5s;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.container h2 {
  margin-bottom: 20px;
}
.container .progress {
  width: 40%;
  height: 5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  padding: 20px;
  background: #e6e9ff;
}
/* fade in */
.fade-in-text {
  animation: fadeIn linear 5.5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* fade out */
.fade-out-text {
  animation: fadeout linear 6s;
  animation-fill-mode: forwards;
  animation-delay:5s;
}

@keyframes fadeout {
  100% {opacity:0;}
  0% {opacity:1;}
}